
    <div class="background">
        <div class="wl"></div>
        <div class="wq"></div>
        <div class="wp"></div>
        <div class="wo"></div>
        <div class="wn"></div>
    </div>
    <header style="padding-left:10px;">
        <%= image_tag "logo.png" %>
    </header>
    <!-- /header -->
    <div class="container-fluid wrap-window">
        <div class="row tool">
            <div class="col-md-2 ">
                <h4>FOOTBALL PREDICTION</h4>
            </div>
            <div class="col-md-10">
                <select style="width:80%;">
                    <option value="">V-League</option>
                    <option value="">Premier League</option>
                    <option value="">FA Cup</option>
                    <option value="">UEFA Champions League</option>
                </select>
                <button>Load Data</button>
                <button>Save Data</button>
            </div>
        </div>
        <div class="row show-content">
            <div class="col-md-5 col-sm-5 col-sx-5 result">
                <table class="table">
                    <colgroup>
                        <col class="checkbox" />
                        <col class="team-name" />
                        <col class="mu" />
                        <col class="sigma" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>VS</th>
                            <th>Football Team Name</th>
                            <th>MU</th>
                            <th>Sigma</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>Manchester United</td>
                            <td>24.0</td>
                            <td>+/-8.0</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>Manchester United</td>
                            <td>21.0</td>
                            <td>+/-8.0</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>Manchester United</td>
                            <td>254.0</td>
                            <td>+/-8.0</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>Manchester United</td>
                            <td>25.0</td>
                            <td>+/-8.0</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>Manchester United</td>
                            <td>25.0</td>
                            <td>+/-8.0</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>Manchester United</td>
                            <td>25.0</td>
                            <td>+/-8.0</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>Manchester United</td>
                            <td>25.0</td>
                            <td>+/-8.0</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>Manchester United</td>
                            <td>25.0</td>
                            <td>+/-8.0</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>Manchester United</td>
                            <td>25.0</td>
                            <td>+/-8.0</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>Manchester United</td>
                            <td>25.0</td>
                            <td>+/-8.0</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>Manchester United</td>
                            <td>25.0</td>
                            <td>+/-8.0</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>Manchester United</td>
                            <td>25.0</td>
                            <td>+/-8.0</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>Manchester United</td>
                            <td>25.0</td>
                            <td>+/-8.0</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>Manchester United</td>
                            <td>25.0</td>
                            <td>+/-8.0</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>Manchester United</td>
                            <td>25.0</td>
                            <td>+/-8.0</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>Manchester United</td>
                            <td>25.0</td>
                            <td>+/-8.0</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>Manchester United</td>
                            <td>25.0</td>
                            <td>+/-8.0</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>Manchester United</td>
                            <td>25.0</td>
                            <td>+/-8.0</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>Manchester United</td>
                            <td>25.0</td>
                            <td>+/-8.0</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>Manchester United</td>
                            <td>25.0</td>
                            <td>+/-8.0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5 col-sm-5 col-sx-5 result">
                <table class="table">
                    <colgroup>
                        <col class="home-team" />
                        <col class="away-team" />
                        <col class="result" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Home Team</th>
                            <th>Away Team</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Manchester United</td>
                            <td>Arsenal</td>
                            <td>A</td>
                        </tr>
                        <tr>
                            <td>Manchester United</td>
                            <td>Arsenal</td>
                            <td>A</td>
                        </tr>
                        <tr>
                            <td>Manchester United</td>
                            <td>Arsenal</td>
                            <td>A</td>
                        </tr>
                        <tr>
                            <td>Manchester United</td>
                            <td>Arsenal</td>
                            <td>A</td>
                        </tr>
                        <tr>
                            <td>Manchester United</td>
                            <td>Arsenal</td>
                            <td>A</td>
                        </tr>
                        <tr>
                            <td>Manchester United</td>
                            <td>Arsenal</td>
                            <td>A</td>
                        </tr>
                        <tr>
                            <td>Manchester United</td>
                            <td>Arsenal</td>
                            <td>A</td>
                        </tr>
                        <tr>
                            <td>Manchester United</td>
                            <td>Arsenal</td>
                            <td>A</td>
                        </tr>
                        <tr>
                            <td>Manchester United</td>
                            <td>Arsenal</td>
                            <td>A</td>
                        </tr>
                        <tr>
                            <td>Manchester United</td>
                            <td>Arsenal</td>
                            <td>A</td>
                        </tr>
                        <tr>
                            <td>Manchester United</td>
                            <td>Arsenal</td>
                            <td>A</td>
                        </tr>
                        <tr>
                            <td>Manchester United</td>
                            <td>Arsenal</td>
                            <td>A</td>
                        </tr>
                        <tr>
                            <td>Manchester United</td>
                            <td>Arsenal</td>
                            <td>A</td>
                        </tr>
                        <tr>
                            <td>Manchester United</td>
                            <td>Arsenal</td>
                            <td>A</td>
                        </tr>
                        <tr>
                            <td>Manchester United</td>
                            <td>Arsenal</td>
                            <td>A</td>
                        </tr>
                        <tr>
                            <td>Manchester United</td>
                            <td>Arsenal</td>
                            <td>A</td>
                        </tr>
                        <tr>
                            <td>Manchester United</td>
                            <td>Arsenal</td>
                            <td>A</td>
                        </tr>
                        <tr>
                            <td>Manchester United</td>
                            <td>Arsenal</td>
                            <td>A</td>
                        </tr>
                        <tr>
                            <td>Manchester United</td>
                            <td>Arsenal</td>
                            <td>A</td>
                        </tr>
                        <tr>
                            <td>Manchester United</td>
                            <td>Arsenal</td>
                            <td>A</td>
                        </tr>
                        <tr>
                            <td>Manchester United</td>
                            <td>Arsenal</td>
                            <td>A</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2 col-sm-2 col-sx-2 left-menu">
                <div class="row" style="margin: 0 auto;">
                    <select class="text-center" style="width:100%">
                        <option value="">Manchester United</option>
                        <option value="">Real Madrid</option>
                        <option value="">Chelsea</option>
                    </select>
                </div>
                <h5 class="text-center">VS:</h5>
                <div class="row" style="margin: 0 auto;">
                    <select class="text-center" style="width:100%">
                        <option value="">Manchester United</option>
                        <option value="">Real Madrid</option>
                        <option value="">Chelsea</option>
                    </select>
                </div>
                <div class="user-choose text-center">
                    <h5>User choose:</h5>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optradio">A win</label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optradio">B win</label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optradio">Draw</label>
                    </div>
                </div>
                <div class="submit-button text-center">
                    <button class="">Execute</button>
                </div>
            </div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="jquery.tablesort.min.js"></script>
    <script type="text/javascript">
    $(function() {
        $('table').tablesort().data('tablesort');
    });
    </script>