header {
    text-align: left;
    height: 50px;
    padding-top: 10px;
}

.before-game {
    text-align: center;
}

.after-game {
    text-align: center;
}

.team-ranking {
    text-align: center;
    border: 2px solid gray;
}

.wrap-window {
    background: transparent;
    position: relative;
    min-height: 100%;
}

table {
    width: 100% !important;
}

.wl,
.wn,
.wo,
.wp,
.wq {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -9999;
}

.wl {
    background: white none repeat scroll 0 0;
    overflow: hidden;
}

.wq {
    background: rgba(0, 0, 0, 0) url("bg.png") repeat-x scroll 0 0;
}

.wo {
    background: rgba(0, 0, 0, 0) url("bottom.png") repeat-x scroll left bottom;
}

.tool {
    background: transparent;
    height: 50px;
}

.table-container {
    overflow: auto;
    background: transparent;
    min-height: 100%;
}

.left-menu {
    min-height: 100%;
    background: transparent;
    overflow: auto;
}

.F {
    border-spacing: 0;
    padding: 0;
    table-layout: fixed;
    width: 100%;
}

tbody>tr {
    background: rgba(243, 243, 243, 0.85) none repeat scroll 0 0;
    color: #222;
}

.left-menu {
    padding-top: 10px;
}

th.sorted.ascending:after {
    content: "  \25b2";
}

th.sorted.descending:after {
    content: " \25bc";
}

th {
    cursor: pointer;
}
